# General Variables
# Input an unique deployment name for your deployment
deployment_name = "some_deployment_name"
# Input the name of a default sudo user to create for ansible
user = "someuser"
# Input the path to your public and private keys below
public_key = "/path/to/public_key.pub"
private_key = "/path/to/private_key"

# AWS Variables
aws_access_key = "your_aws_access_key"
aws_secret_key = "your_aws_secret_key"
# Input the name of your AWS CLI profile to use
aws_cli_profile = "default"
# Input some common tags to be added to the resources
common_tags = {
    Owner       = "yourname"
    OwnerEmail  = "youremail"
  }
# input your region here 
region = "some_region" 
availability_zone = "some_availability_zone" 
# input the cidr_block that you would like to use here 
cidr_block = "cidr_block_number" 
cidr_block_subnet = "cidr_block_subnet"


# Hetzner (hcloud) variables
#Set to "true" to enable HCloud. Set to "false" to disable HCloud.
hcloud_enabled = "true"
hcloud_token = "your-hcloud-token"
# hcloud_server_count = 1
#Set your preferred region. Use the shortnames like "ash", "nbg1", "fsn1", or "hil1" found here: https://docs.hetzner.com/cloud/general/locations/
hcloud_location = "location type"
# Do not change this
#hcloud_server_type = "cpx51"
hcloud_os_type = "ubuntu-22.04"